/* The following CSS is universal and applies to the whole document. */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

/*  ==============
    Header Section
    ============== */

header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* Got rid of the "header" before this h1 because there's only one h1 on this page so it was unnecessary. */
h1 {
    display: inline-block;
    font-size: 48px;
}

/* Removed the "header h1" in front of this seo class to reduce redundancy in the code.*/
.seo {
    color: #d9dcd6;
}

/* Changed this from "header div" to a nav element to help reduce code and the need for a class,
and make it more accessible and increase SEO by using a semantic element. */
nav{
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* Removed this block of code because it was unnecessary and redundant. 
header div ul {
    list-style-type: none;
} */

/* Removed "header div ul" because it was redundant and unnecessary. There is no other li tags within the HTML.  */
li {
    list-style-type:none; 
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

/*  ================
    Background Image
    ================ */

/* This class formats the main background image */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/*  =================
    Main Body Section
    ================= */

/* Changed this from the "content" class to a main element to increase readability/semantics. */
main {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}
p {
    font-size: 16px;
}
.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}
/* Housed everything under one class (main-content) to reduce code. */
.main-content{
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.main-content h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.main-content img {
    max-height: 200px;
}

/* Removed the following chunks of code because they were redundant and unnecessary. Housed everything under one class (main-content)
 and they all had the same code.
.online-reputation-management {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
} */

/* Removed the following chunks of code because they were redundant and unnecessary. Housed everything under one class (main-content)
 and they all had the same code.
.online-reputation-management img {
    max-height: 200px;
}

.social-media-marketing img {
    max-height: 200px;
} */

/* Removed the following chunks of code because they were redundant and unnecessary. Housed everything under one class (main-content)
 and they all had the same code. 
.online-reputation-management h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.social-media-marketing h2 {
    margin-bottom: 20px;
    font-size: 36px;
} */

/*  =============
    Aside Section
    ============= */

/* Changed this from the "benefits" class to an aside element to increase readability/semantics. */
aside {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* Changed from "benefit-lead" to just "benefit" because the code was the same for all benefit sections. This helped to reduce
code tremendously and follow the DRY coding best practices. */
.benefit {
    margin-bottom: 32px;
    color: #ffffff;
}

/* Removed the benefit prefix to the h3 tags because there are only three h3 tags in the whole document and they all are in the same
aside section. */
h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* Removed the following chunks of code because they were redundant and unnecessary.
.benefit-brand {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-cost {
    margin-bottom: 32px;
    color: #ffffff;
} */

/* Removed the following chunks of code because they were redundant and unnecessary.
.benefit-brand h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-cost h3 {
    margin-bottom: 10px;
    text-align: center;
} */

/* Removed the following chunks of code because they were redundant and unnecessary. Housed everything under one class (benefit)
 and they all had the same code.  
.benefit-brand img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.benefit-cost img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
} */

/*  ==============
    Footer Section
    ============== */

/* Changed this from class footer to a footer tag within the html for semantic, accessibility and SEO purposes. */
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

footer h2 {
    font-size: 20px;
}
